@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a asp-controller="Home" asp-action="StudentList">View Student List</a>
    </p>
</div>
